body{
	background-color: #627f91;
	font-family: Arial, sans serif;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}
.content-layout {
	margin: 0 auto;
	width: 1200px;
}
h1{
	font-size: 50px; 
    font-family: 'Castellar'; /* откуда берется этот шрифт? */
	text-align: center;
}
h2 {
	text-align: center;
    font-size: 40px; 
    font-family: 'Castellar'; 
}
.article {
	margin: 80px 50px;
}
.article a {
	color: #fff;
	text-transform: uppercase;
}
.article a:hover {
	color: #2c3d68;
	text-decoration: none;
} /* не забываем закрывать блоки */
